In [1]:
import pandas as pd
from transformers import XLNetTokenizer
from sklearn.pipeline import Pipeline
from sklearn.base import TransformerMixin

# Carica il tokenizzatore pre-addestrato di XLNet
tokenizer = XLNetTokenizer.from_pretrained('xlnet-base-cased')

# Definizione di un Transformer personalizzato per utilizzare il tokenizzatore XLNet
class XLNetTokenization(TransformerMixin):
    def transform(self, X, **transform_params):
        # Applica la tokenizzazione XLNet a ogni elemento
        return [tokenizer.encode(text, add_special_tokens=True) for text in X]

    def fit(self, X, y=None, **fit_params):
        return self

# Creazione della pipeline
pipeline = Pipeline([
    ('xlnet_tokenization', XLNetTokenization())
])

# Supponiamo di avere un DataFrame pandas con una colonna di testo
data = {'text': ["Esempio di testo per tokenizzare.", "Un altro testo da tokenizzare."]}
df = pd.DataFrame(data)

# Applicazione della pipeline
df['tokenized'] = pipeline.fit_transform(df['text'])

# Visualizza il DataFrame
print(df)

spiece.model:   0%|          | 0.00/798k [00:00<?, ?B/s]

tokenizer.json:   0%|          | 0.00/1.38M [00:00<?, ?B/s]

config.json:   0%|          | 0.00/760 [00:00<?, ?B/s]

                                text  \
0  Esempio di testo per tokenizzare.
1     Un altro testo da tokenizzare.

                                           tokenized
0  [5991, 12775, 1888, 4425, 934, 155, 451, 17366...
1  [2889, 1296, 2530, 934, 155, 8075, 17366, 1715...

In [ ]:
target_category = train_set['Class Index'].unique()
print(target_category)

In [22]:
train_set = pd.read_csv('train_set_bpe.csv')
test_set = pd.read_csv("test_set_bpe.csv")

In [24]:
train_set['XLN'] = pipeline.fit_transform(train_set['cleaned_text'])

In [30]:
test_set['XLN'] = pipeline.fit_transform(test_set['cleaned_text'])

In [34]:
train_set['XLN'] = train_set['XLN'].apply(lambda x: ' '.join(map(str, x)) if isinstance(x, list) else x)

In [ ]:
# Converte ogni lista di numeri in una stringa, unendo i numeri con uno spazio
test_set['XLN'] = test_set['XLN'].apply(lambda x: ' '.join(map(str, x)) if isinstance(x, list) else x)

In [36]:
train_set

,Class Index,Title,cleaned_text,Text_BPE1,XLN
0,3,Wall St. Bears Claw Back Into the Black (Reuters),reuters short sellers wall street dwindling ba...,re uters Ġsh ort Ġs ell ers Ġw all Ġst re et Ġ...,17 88 12105 23 573 14190 1759 1764 26602 1014 ...
1,3,Carlyle Looks Toward Commercial Aerospace (Reu...,reuters private investment firm carlyle group ...,re uters Ġp riv ate Ġin vest ment Ġf irm Ġc ar...,17 88 12105 23 804 1257 1338 398 111 529 256 3...
2,3,Oil and Economy Cloud Stocks' Outlook (Reuters),reuters soaring crude prices plus worries econ...,re uters Ġs o ar ing Ġcr ud e Ġprices Ġpl us Ġ...,17 88 12105 23 14309 4952 843 2824 9135 824 79...
3,3,Iraq Halts Oil Exports from Main Southern Pipe...,reuters authorities halted oil export flows ma...,re uters Ġa ut h or it ies Ġh al t ed Ġoil Ġex...,17 88 12105 23 1222 12487 607 4416 8188 587 73...
4,3,"Oil prices soar to all-time record, posing new...",afp tearaway world oil prices toppling records...,af p Ġt ear aw ay Ġw orld Ġoil Ġprices Ġto pp ...,17 4767 450 6358 6594 185 607 843 22 4497 806 ...
...,...,...,...,...,...
119995,1,Pakistan's Musharraf Says Won't Quit as Army C...,karachi reuters pakistani president pervez mus...,k ar ach i Ġre uters Ġp akistan i Ġp resident ...,17 16468 2416 17 88 12105 23 17 21185 677 2874...
119996,2,Renteria signing a top-shelf deal,red sox general manager theo epstein acknowled...,red Ġs ox Ġg en er al Ġman ag er Ġthe o Ġe p s...,1170 102 469 580 1416 18 155 17 3882 6360 4603...
119997,2,Saban not going to Dolphins yet,miami dolphins put courtship lsu coach nick sa...,m i am i Ġd ol ph ins Ġp ut Ġc our ts hip Ġl s...,17 26897 19120 23 331 593 1913 17 368 3192 115...
119998,2,Today's NFL games,pittsburgh ny giants time line steelers record...,p it ts b ur g h Ġn y Ġg ian ts Ġt ime Ġl ine ...,6062 46 23 19065 17 2159 17107 92 418 2902 270...
119999,2,Nets get Carter from Raptors,indianapolis star vince carter traded toronto ...,ind ian ap ol is Ġst ar Ġv in ce Ġc arter Ġt r...,25 66 14517 5144 23 1795 17 3454 1138 398 1158...

In [42]:
nb = Pipeline([('tfidf', TfidfVectorizer()),
               ('clf', MultinomialNB()),
              ])
nb.fit(train_set['XLN'],train_set['Class Index'])

test_predict = nb.predict(test_set['XLN'])

train_accuracy = round(nb.score(train_set['XLN'],train_set['Class Index'])*100)
test_accuracy =round(accuracy_score(test_predict, test_set['Class Index'])*100)


print("Naive Bayes Train Accuracy Score : {}% ".format(train_accuracy ))
print("Naive Bayes Test Accuracy Score  : {}% ".format(test_accuracy ))
print()
# Supponiamo che target_category sia attualmente un array numerico o una lista di numeri
# Convertilo in una lista di stringhe
target_category = [str(name) for name in target_category]

# Ora usa questa lista modificata nel classification_report
print(classification_report(test_predict, test_set['Class Index'], target_names=target_category))

Naive Bayes Train Accuracy Score : 90%
Naive Bayes Test Accuracy Score  : 88%

              precision    recall  f1-score   support

           3       0.88      0.91      0.89      1839
           4       0.97      0.92      0.94      1989
           2       0.83      0.85      0.84      1859
           1       0.85      0.85      0.85      1913

    accuracy                           0.88      7600
   macro avg       0.88      0.88      0.88      7600
weighted avg       0.88      0.88      0.88      7600

In [13]:
import pandas as pd
import matplotlib.pyplot as plt
#import tensorflow as tf
import nltk
import sklearn

from transformers import RobertaTokenizer

from tensorflow import keras
from keras.preprocessing.text import text_to_word_sequence
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer
from nltk.corpus import wordnet
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.naive_bayes import MultinomialNB
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import roc_auc_score
from sklearn.pipeline import Pipeline
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from text_cleaning import clean_text
from bpe import BPEPipeline, BPE

[nltk_data] Downloading package stopwords to /Users/sara/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [29]:
test_set['XLN'] = test_set['XLN'].apply(lambda x: ' '.join(x) if isinstance(x, list) else x)

# Visualizza il DataFrame modificato
print(test_set)

KeyError: 'XLN'

In [33]:
# Converte ogni lista di numeri in una stringa, unendo i numeri con uno spazio
test_set['XLN'] = test_set['XLN'].apply(lambda x: ' '.join(map(str, x)) if isinstance(x, list) else x)

# Visualizza il DataFrame modificato
test_set

,Class Index,Title,Description,cleaned_text,Text_BPE,Text_BPE1,XLN
0,3,Fears for T N pension after talks,Unions representing workers at Turner Newall...,unions representing workers turner newall say ...,"['un', 'ions', 'Ġre', 'p', 'res', 'ent', 'ing'...",un ions Ġre p res ent ing Ġw ork ers Ġt urn er...,6432 4471 1042 808 118 109 2225 248 6869 916 1...
1,4,The Race is On: Second Private Team Sets Launc...,"SPACE.com - TORONTO, Canada -- A second\team o...",space com toronto canada second team rocketeer...,"['s', 'p', 'ace', 'Ġc', 'om', 'Ġt', 'or', 'on'...",s p ace Ġc om Ġt or on to Ġc anad a Ġs econd Ġ...,888 2748 22 2560 261 17061 205 230 5672 93 270...
2,4,Ky. Company Wins Grant to Study Peptides (AP),AP - A company founded by a chemistry research...,ap company founded chemistry researcher univer...,"['ap', 'Ġcomp', 'an', 'y', 'Ġf', 'ound', 'ed',...",ap Ġcomp an y Ġf ound ed Ġc he m ist ry Ġres e...,17 3307 226 2118 10421 10220 2430 17 7604 590 ...
3,4,Prediction Unit Helps Forecast Wildfires (AP),AP - It's barely dawn when Mike Fitzpatrick st...,ap barely dawn mike fitzpatrick starts shift b...,"['ap', 'Ġb', 'ar', 'ely', 'Ġd', 'aw', 'n', 'Ġm...",ap Ġb ar ely Ġd aw n Ġm i ke Ġf it z p at ric ...,17 3307 4540 8774 17 98 14472 2328 553 1831 17...
4,4,Calif. Aims to Limit Farm-Related Smog (AP),AP - Southern California's smog-fighting agenc...,ap southern california smog fighting agency we...,"['ap', 'Ġs', 'out', 'her', 'n', 'Ġc', 'al', 'i...",ap Ġs out her n Ġc al if orn ia Ġs m og Ġf igh...,17 3307 1335 17618 780 17 23 1495 299 1501 110...
...,...,...,...,...,...,...,...
7595,1,Around the world,Ukrainian presidential candidate Viktor Yushch...,ukrainian presidential candidate viktor yushch...,"['uk', 'ra', 'in', 'ian', 'Ġp', 'resident', 'i...",uk ra in ian Ġp resident ial Ġc and id ate Ġv ...,17 2390 13234 884 1748 2036 17 16973 3145 17 1...
7596,2,Void is filled with Clement,With the supply of attractive pitching options...,supply attractive pitching options dwindling d...,"['s', 'up', 'p', 'ly', 'Ġatt', 'ract', 'ive', ...",s up p ly Ġatt ract ive Ġp it ch ing Ġo pt ion...,1985 5320 11631 1955 26602 1362 581 17 4441 98...
7597,2,Martinez leaves bitter,Like Roger Clemens did almost exactly eight ye...,like roger clemens almost exactly eight years ...,"['l', 'i', 'ke', 'Ġro', 'ger', 'Ġc', 'le', 'm'...",l i ke Ġro ger Ġc le m ens Ġal m ost Ġex act l...,115 17 986 2371 17 6449 1126 23 615 2034 869 1...
7598,3,5 of arthritis patients in Singapore take Bext...,SINGAPORE : Doctors in the United States have ...,singapore doctors united states warned painkil...,"['s', 'ing', 'ap', 'ore', 'Ġd', 'oc', 't', 'or...",s ing ap ore Ġd oc t ors Ġun ited Ġst ates Ġwa...,9585 18753 88 3209 9114 1035 2267 31153 23 39 ...
7599,3,EBay gets into rentals,EBay plans to buy the apartment and home renta...,ebay plans buy apartment home rental service r...,"['eb', 'ay', 'Ġpl', 'ans', 'Ġbuy', 'Ġa', 'p', ...",eb ay Ġpl ans Ġbuy Ġa p art ment Ġh ome Ġr ent...,17 93 8986 851 971 3246 192 5906 348 4994 2748...

In [25]:
train_set['XLN'] = train_set['XLN'].apply(lambda x: ' '.join(map(str, x)) if isinstance(x, list) else x)

In [26]:
train_set

,Class Index,Title,cleaned_text,Text_BPE1,XLN
0,3,Wall St. Bears Claw Back Into the Black (Reuters),reuters short sellers wall street dwindling ba...,re uters Ġsh ort Ġs ell ers Ġw all Ġst re et Ġ...,17 88 12105 23 573 14190 1759 1764 26602 1014 ...
1,3,Carlyle Looks Toward Commercial Aerospace (Reu...,reuters private investment firm carlyle group ...,re uters Ġp riv ate Ġin vest ment Ġf irm Ġc ar...,17 88 12105 23 804 1257 1338 398 111 529 256 3...
2,3,Oil and Economy Cloud Stocks' Outlook (Reuters),reuters soaring crude prices plus worries econ...,re uters Ġs o ar ing Ġcr ud e Ġprices Ġpl us Ġ...,17 88 12105 23 14309 4952 843 2824 9135 824 79...
3,3,Iraq Halts Oil Exports from Main Southern Pipe...,reuters authorities halted oil export flows ma...,re uters Ġa ut h or it ies Ġh al t ed Ġoil Ġex...,17 88 12105 23 1222 12487 607 4416 8188 587 73...
4,3,"Oil prices soar to all-time record, posing new...",afp tearaway world oil prices toppling records...,af p Ġt ear aw ay Ġw orld Ġoil Ġprices Ġto pp ...,17 4767 450 6358 6594 185 607 843 22 4497 806 ...
...,...,...,...,...,...
119995,1,Pakistan's Musharraf Says Won't Quit as Army C...,karachi reuters pakistani president pervez mus...,k ar ach i Ġre uters Ġp akistan i Ġp resident ...,17 16468 2416 17 88 12105 23 17 21185 677 2874...
119996,2,Renteria signing a top-shelf deal,red sox general manager theo epstein acknowled...,red Ġs ox Ġg en er al Ġman ag er Ġthe o Ġe p s...,1170 102 469 580 1416 18 155 17 3882 6360 4603...
119997,2,Saban not going to Dolphins yet,miami dolphins put courtship lsu coach nick sa...,m i am i Ġd ol ph ins Ġp ut Ġc our ts hip Ġl s...,17 26897 19120 23 331 593 1913 17 368 3192 115...
119998,2,Today's NFL games,pittsburgh ny giants time line steelers record...,p it ts b ur g h Ġn y Ġg ian ts Ġt ime Ġl ine ...,6062 46 23 19065 17 2159 17107 92 418 2902 270...
119999,2,Nets get Carter from Raptors,indianapolis star vince carter traded toronto ...,ind ian ap ol is Ġst ar Ġv in ce Ġc arter Ġt r...,25 66 14517 5144 23 1795 17 3454 1138 398 1158...

[3 4 2 1]